@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #080808;
    color: #fff;
}

/* header section */

#header {
    width: 100%;
    height: 100vh;
    background-image: url("../img/header-background.png");
    background-size: cover;
    background-position: top;
}

.container {
    padding: 1.8% 8%; 
}

.container nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container nav span {
    font-family: 'Paytone One', sans-serif;
    font-size: 2.1rem;
    font-weight: 100;
    color: #ff004f;
}

.container nav h2 {
    font-family: 'Paytone One', sans-serif;
    font-size: 2.1rem;
    font-weight: 100;
    color: #fff;
}

/*
.container .logo {
    width: 6.75rem;
}
*/

.container ul {
    display: flex;
    flex-direction: row;
}

.container nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0.6rem 1.25rem;
}

.container nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    position: relative;
}

.container nav ul li a::after {
    content: '';
    width: 0;
    height: 0.12rem;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    transition: 0.5s;
}

.container nav ul li a:hover::after {
    width: 100%;
}

.container .header-text {
    margin-top: 20%;
    font-size: 1.8rem;
}

.container .header-text p {
    font-size: 2.3rem;
}

.container .header-text h1 {
    font-size: 2.9rem;
}

.container .header-text h1 span {
    color: #ff004f;
}

/* about section */

#about {
    padding: 5rem 3rem;
    color: #ababab;
}

#about .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#about .row .about-col-1 {
    flex-basis: 35%; /* a coluna com a imagem vai ocupar 35% da div*/ 
}

#about .row .about-col-1 img {
    width: 85%;
    border-radius: 0.9rem;
}

#about .row .about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 3rem;
    font-weight: 650;
    color: #fff;
}

#about .row .about-col-2 p {
    font-size: 1.2rem;
    line-height: 170%;
}

#about .row .about-col-2 p a {
    text-decoration: none;
    color: #ababab;
    font-weight: 502;
}

#about .row .about-col-2 .tab-titles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem 0 2rem;
}

#about .row .about-col-2 .tab-titles .tab-links { 
    margin-right: 1.5rem;
    font-size: 1.7rem;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

#about .row .about-col-2 .tab-titles .tab-links::after {
    content: '';
    width: 0;
    height: 0.15rem;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -0.4rem;
    transition: 0.5s;
}

#about .row .about-col-2 .tab-titles .tab-links.active-link::after {
    width: 50%;
    left: 25%;
}

#about .row .about-col-2 .tab-contents {
    display: none;
}

#about .row .about-col-2 .tab-contents.active-tab{
    display: block;
}

#about .row .about-col-2 .tab-contents ul li {
    list-style: none;
    margin: 0.5rem 0;
}

#about .row .about-col-2 .tab-contents ul li span {
    color: #b54769;
    font-size: 0.7rem;
}

/* services section */

#services {
    padding: 1.5rem 0;
}

#services .container .services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
    grid-gap: 2.5rem;
    margin-top: 3.125rem;
}

#services .container .services-list div {
    padding: 2rem;
    background: #262626;
    border-radius: 1.5rem;
    color: #fff;
    transition: background 0.5s, transform 0.5s;
}

#services .container .services-list div:hover {
    background: #ff004f;
    transform: translateY(-0.625rem);
}

#services .container .services-list div i {
    font-size: 3.5em;
    margin-top: auto;
    margin-left: 1rem;
}

#services .container .services-list div h2 {
    font-size: 1.7rem;
    margin: 1rem;
}

#services .container .services-list div p {
    text-align: justify;
    font-size: 0.88rem;
    margin: 1rem;
}

#services .container .services-list div a {
    display: inline-block;
    margin-left: 1rem;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s, transform 0.5s;
}

#services .container .services-list div a:hover {
    transform: translateY(-0.625rem);
}

#services .container .services-list div a i {
    font-size: 1rem;
}

 /* portfolio section */

#portfolio {
    padding: 1.5rem 0;
}

#portfolio .container .work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
    grid-gap: 2.5rem;
    margin-top: 3.125rem;
}

#portfolio .container .work-list .work {
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

#portfolio .container .work-list .work img {
    width: 100%;
    border-radius: 1rem;
    display: block;
    transition: transform 0.5s;
}

#portfolio .container .work-list .work .layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.5), #ff004f);
    border-radius: 0.5rem;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem;
    text-align: center;
    font-size: 1rem;
    transition: height 0.5s;
}

#portfolio .container .work-list .work .layer h3 {
    font-weight: 555;
    margin-bottom: 1rem;
}

#portfolio .container .work-list .work .layer a {
    text-decoration: none;
    color: #ff004f;
    margin-top: 3rem;
    font-size: 2rem;
    line-height: 4rem;
    background: #fff;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    text-align: center;
}

#portfolio .container .work-list .work:hover img {
    transform: scale(1.05);
}

#portfolio .container .work-list .work:hover .layer {
    height: 100%;
}

#portfolio .container .btn {
    text-decoration: none;
    color: #fff;
    display: block;
    margin: 2rem auto;
    width: fit-content;
    border: 0.1rem solid #ff004f;
    border-radius: 0.4rem;
    padding: 0.8rem 2.5rem;
    transition: background 0.6s;
}

#portfolio .container .btn:hover {
    background: #ff004f;
}

/* contact section */

#contact {
    padding: 1rem 1rem;
    color: #ababab;
}

#contact .container .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#contact .container .row .contact-col-1 {
    flex-basis: 35%;
}

#contact .container .row .contact-col-2 {
    flex-basis: 60%;
}

#contact .container .row .contact-col-1 i {
    color: #ff004f;
    font-size: 1.4rem;
    margin: 1rem 1rem 1rem 0;
}

#contact .container .row .contact-col-1 .social-media {
    display: flex;
    margin-top: 1.2rem;
    flex-direction: row;
    gap: 2rem;
}

#contact .container .row .contact-col-1 .social-media i {
    font-size: 2rem;
    color: #fff;
    transition: transform 0.5s;
}


#contact .container .row .contact-col-1 .social-media i:hover {
    color: #ff004f;
    transform: translateY(-0.5rem);
}

#contact .container .row .contact-col-1 .btn {
    text-decoration: none;
    color: #fff;
    display: block;
    margin: 2rem 1rem 1rem 0; 
    width: fit-content;
    border: 0.1rem solid #ff004f;
    background: #ff004f;
    border-radius: 0.4rem;
    padding: 0.8rem 2.5rem;
    transition: opacity 0.6s;
}

#contact .container .row .contact-col-1 .btn:hover {
    opacity: 70%;
}

#contact .container .row .contact-col-2 .input-group {
    display: flex;
    flex-direction: column;
}

#contact .container .row .contact-col-2 .input-group input {
    border: none;
    padding: 0.5rem;
    height: 3rem;
    margin: 0.5rem 0 0.5rem 0; /*top right bottom left */
    background-color: #3c3c3c;
    color: #ababab;
    font-size: 1rem;
    border-radius: 0.3rem;
}

#contact .container .row .contact-col-2 .input-group textarea {
    border: none;
    padding: 0.5rem;
    margin: 0.5rem 0 0.5rem 0; /*top right bottom left */
    background-color: #3c3c3c;
    color: #ababab;
    font-size: 1rem;
    border-radius: 0.3rem;
}

#contact .container .row .contact-col-2 .input-group button {
    margin-top: 1rem;
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative;
    width: fit-content;
    border: 0.1rem solid #ff004f;
    background: #ff004f;
    border-radius: 0.4rem;
    padding: 0.8rem 2.5rem;
    transition: opacity 0.6s;
}

#contact .container .row .contact-col-2 .input-group button:hover {
    cursor: pointer;
    opacity: 70%;
}

/* footer section*/

footer {
    text-align: center;
    padding: 2.5rem;
    font-size: 0.9rem;
}

footer p i {
    color: #ff004f;
    font-weight: 555;
}